__pycache__/
.vscode/
verification/linear_module_first/verification_results.xlsx
verification/linear_module_first/~$verification_results.xlsx
verification/linear_body_first/~$verification_simple_4w_steering.xlsx
verification/linear_body_first/verification_simple_4w_steering.xlsx
