__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
.test_data/
test_data/

verification/linear_module_first/verification_results.xlsx
verification/linear_module_first/~$verification_results.xlsx
verification/linear_body_first/~$verification_simple_4w_steering.xlsx
verification/linear_body_first/verification_simple_4w_steering.xlsx
.coverage
